<iframe
        src="http://112.137.142.21/qlvb/login/" 
        frameborder="0" allowfullscreen 
        style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
</iframe>
<input type="text" id="signInControl_UserName" autocomplete="off" class="i user" placeholder="Tên tài khoản"
[(ngModel)]="accountData.username" #accountUsername="ngModel" name="accountUsername"/>
<input type="password" id="signInControl_password" autocomplete="off" class="i pass" placeholder="Mật khẩu"
[(ngModel)]="accountData.password" #accountPassword="ngModel" name="accountPassword"/>
<div>
    <input (click)="sendData()" type="submit" name="signInControl$login" value="Đăng nhập" id="signInControl_login" class="bt">
</div>