<iframe
        src="http://112.137.142.19" 
        frameborder="0" allowfullscreen 
        style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
</iframe>

<input  class = "username" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" 
        name="ion-input-0" placeholder="Tên đăng nhập" spellcheck="false" type="text"
        [(ngModel)]="accountData.username" #accountUsername="ngModel" name="accountUsername">
<input  class = "password" autocapitalize="off" autocomplete="off" autocorrect="off" 
        name="ion-input-1" placeholder="Mật khẩu" spellcheck="false" type="password"
        [(ngModel)]="accountData.password" #accountPassword="ngModel" name="accountPassword">
<div>
    <button type="button" (click)="sendData()" class="button-native" part="native">
        <span class="button-inner">
        </span>
        Đăng nhập
    </button>
</div>