iframe {
    z-index: -1;
    height: 100%;
    width: 100%;
}

.username {
    margin-top: 88px;
    margin-left: 16px;
    width: 90%;
    background-color: white;
}

.password {
    margin-top: 35px;
    margin-left: 16px;
    width: 90%;
    background-color: white;
}

input {
    visibility: inherit;
    --placeholder-color: initial;
    --placeholder-font-style: initial;
    --placeholder-font-weight: initial;
    --placeholder-opacity: .5;
    --background: transparent;
    --color: initial;
    --padding-top: 10px;
    --padding-end: 0;
    --padding-bottom: 10px;
    --padding-start: 0;
    -webkit-tap-highlight-color: transparent;
    font: inherit;
    touch-action: manipulation;
    overflow: visible;
    line-height: inherit;
    border-radius: var(--border-radius);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-decoration: inherit;
    text-indent: inherit;
    text-overflow: inherit;
    text-transform: inherit;
    text-align: inherit;
    white-space: inherit;
    color: inherit;
    display: inline-block;
    flex: 1;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border: 0;
    outline: none;
    background: transparent;
    box-sizing: border-box;
    appearance: none;
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--padding-start);
    padding-inline-end: var(--padding-end);
}

button {
    --ion-font-family: var(--ion-default-font);
    --ion-safe-area-top: env(safe-area-inset-top);
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
    --ion-safe-area-left: env(safe-area-inset-left);
    --ion-safe-area-right: env(safe-area-inset-right);
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56,128,255;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61,194,255;
    --ion-color-secondary-contrast: #fff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82,96,255;
    --ion-color-tertiary-contrast: #fff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45,211,111;
    --ion-color-success-contrast: #fff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235,68,90;
    --ion-color-danger-contrast: #fff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,36,40;
    --ion-color-dark-contrast: #fff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146,148,156;
    --ion-color-medium-contrast: #fff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,245,248;
    --ion-color-light-contrast: #000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-default-font: "Roboto","Helvetica Neue",sans-serif;
    word-wrap: break-word;
    text-size-adjust: none;
    --keyboard-offset: 0px;
    --offset-top: 0px;
    --offset-bottom: 0px;
    --overflow: hidden;
    --ripple-color: currentColor;
    --border-width: initial;
    --border-color: initial;
    --border-style: initial;
    --color-activated: var(--color);
    --color-focused: var(--color);
    --color-hover: var(--color);
    user-select: none;
    pointer-events: auto;
    font-kerning: none;
    --border-radius: 4px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 1.1em;
    --padding-end: 1.1em;
    --transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 15ms linear, color 15ms linear;
    --background: var(--ion-color-primary, #3880ff);
    --color: var(--ion-color-primary-contrast, #fff);
    --background-activated: transparent;
    --background-hover: var(--ion-color-primary-contrast, #fff);
    --background-focused: var(--ion-color-primary-contrast, #fff);
    --background-activated-opacity: 0;
    --background-focused-opacity: 0.24;
    --background-hover-opacity: 0.08;
    --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-tap-highlight-color: transparent;
    visibility: inherit;
    --ion-color-base: var(--ion-color-primary,#3880ff)!important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb,56,128,255)!important;
    --ion-color-contrast: var(--ion-color-primary-contrast,#fff)!important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb,255,255,255)!important;
    --ion-color-shade: var(--ion-color-primary-shade,#3171e0)!important;
    --ion-color-tint: var(--ion-color-primary-tint,#4c8dff)!important;
    border-radius: var(--border-radius);
    -webkit-font-smoothing: antialiased;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-decoration: inherit;
    text-indent: inherit;
    text-overflow: inherit;
    text-transform: inherit;
    text-align: inherit;
    white-space: inherit;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transition: var(--transition);
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    outline: none;
    line-height: 1;
    box-shadow: var(--box-shadow);
    contain: layout style;
    cursor: pointer;
    opacity: var(--opacity);
    overflow: var(--overflow);
    z-index: 0;
    box-sizing: border-box;
    appearance: none;
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--padding-start);
    padding-inline-end: var(--padding-end);
    background: var(--ion-color-base);
    color: var(--ion-color-contrast);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
    text-size-adjust: none;
    --keyboard-offset: 0px;
    --offset-top: 0px;
    --offset-bottom: 0px;
    font: inherit;
    --overflow: hidden;
    --ripple-color: currentColor;
    --border-width: initial;
    --border-color: initial;
    --border-style: initial;
    --color-activated: var(--color);
    --color-focused: var(--color);
    --color-hover: var(--color);
    display: inline-block;
    width: auto;
    color: var(--color);
    font-family: var(--ion-font-family, inherit);
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    pointer-events: auto;
    font-kerning: none;
    --border-radius: 4px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 1.1em;
    --padding-end: 1.1em;
    --transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 15ms linear, color 15ms linear;
    margin-top: 24px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    left: 46.7%;
    --background: var(--ion-color-primary, #3880ff);
    --color: var(--ion-color-primary-contrast, #fff);
    --background-activated: transparent;
    --background-hover: var(--ion-color-primary-contrast, #fff);
    --background-focused: var(--ion-color-primary-contrast, #fff);
    --background-activated-opacity: 0;
    --background-focused-opacity: 0.24;
    --background-hover-opacity: 0.08;
    --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    visibility: inherit;
    --ion-color-base: var(--ion-color-primary,#3880ff)!important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb,56,128,255)!important;
    --ion-color-contrast: var(--ion-color-primary-contrast,#fff)!important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb,255,255,255)!important;
    --ion-color-shade: var(--ion-color-primary-shade,#3171e0)!important;
    --ion-color-tint: var(--ion-color-primary-tint,#4c8dff)!important;
}